<nav class="navbar navbar-static-top">
    <div class="navbar-header">
        <a class="navbar-brand">line-bot</a>
    </div>
    <ul class="nav navbar-nav">
        <li *ngIf="!isLoggedOn" (click)="loginModalControl()"><a>Login</a></li>
        <li *ngIf="isLoggedOn" (click)="logoutHandler()"><a>Logout</a></li>
    </ul>
</nav>

<app-login-modal [(visible)]="showLoginModal">

    <h1>Login</h1>
    <label>ID : </label><input class="form-control white" placeholder="ID" [(ngModel)]="userid"><br>
    <label>PW : </label><input class="form-control white" placeholder="Password" type="password" [(ngModel)]="userpw"><br>
    <button class = "btn btn-default" (click)="loginHandler()">Login</button>
    <button class = "btn btn-default" (click)="joinHandler()">Join</button>

    <div class={{alertType}} *ngIf="alertFlag">
        <strong>{{alertMessage}}</strong>
    </div>

</app-login-modal>
