a {
    color: #C1C5CE;
}

.navbar-brand, .navbar-nav>li>a{
    text-shadow: none;
}

.navbar {
    border-bottom: solid #007AAC 1px;
    margin: 0px;
}

.btn:hover {
    float: right;
    display: block;
}

.btn {
    float: right;
    display: block;

}

label {
    color: #222222;
}

h1 {
    color: #222222;
}

.alert {
    float: left;
    display: block;
}

nav > ul {
    float: right;
}