<div *ngIf="codes; else elseBlock">
<table class="table">
  <thead>
    <tr>
      <th class="delete-box" scope="col"></th>
      <th scope="col">Script Name</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let code of codes'>
      <td class="delete-box"><input (change)="checkedCode($event.srcElement, code)" type="checkbox"></td>
      <td (click)="selectCode(code)">{{ code.name }}</td>
      <td (click)="selectCode(code)">{{ code.date }}</td>
    </tr>
  </tbody>
</table>

  <button class="btn delete-btn" (click)="deleteCode()">삭제</button>
  <button class="btn new-code" (click)="newCode()">새 스크립트 작성</button>
</div>
<ng-template #elseBlock>
  <div style="text-align: center;">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  </div></ng-template>
