.new-code {
    float: right;
    margin-top: 10px;
}
.delete-btn {
    float: left;
    margin-top: 10px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.delete-box {
    width: 40px;
}