.container-fluid{
    height: 100%;
    padding: 0;
}

.editor-wrapper{
    padding: 0;
    height: inherit;
    overflow: hidden;
    border-left: solid #007AAC 1px;
    background: #333;
}

.code-list {
    padding: 20px 10px 20px 10px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.doc {
  padding: 10px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  border-left: solid #007AAC 1px;
}

.doc > div{
  padding: 0;
}
