<input type="text" [(ngModel)]="code.name" />
{{ test }}
<div class="container">
<div class="left">

<ace-editor [(text)]="code.content"  mode="javascript" style="min-height: 200px; height: 100%; width:100%; overflow: auto;"></ace-editor>
</div>
<div class="right">
  <h3>reply([MESSAGE])</h3>
  <table>
    <thead>
      <tr>
        <th>Argument Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MESSAGE</td>
        <td>Only String</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h3>setValue(KEY, VALUE)</h3>
  <table>
    <thead>
      <tr>
        <th>Argument Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>KEY</td>
        <td>Only String</td>
      </tr>
      <tr>
        <td>VALUE</td>
        <td>Only String</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h3>getValue(KEY)</h3>
  <table>
    <thead>
      <tr>
        <th>Argument Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>KEY</td>
        <td>Only String</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h3>delValue(KEY)</h3>
  <table>
    <thead>
      <tr>
        <th>Argument Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>KEY</td>
        <td>Only String</td>
      </tr>
    </tbody>
  </table>

</div>

</div>
<button (click)="submit()">Write</button>
