<div class="col-md-9 editor">
  <div class="save">
    <div class="col-md-9">
      <div class="input-group">
        <span class="input-group-addon no-border">스크립트 이름</span>
        <input type="text" class="form-control no-border" placeholder="에코봇">
      </div>
    </div>
    <div class="col-md-2">
      <select class="schedule form-control no-border">
        <option>반복 안함</option>
        <option>1분 마다</option>
        <option>5분 마다</option>
        <option>10분 마다</option>
        <option>30분 마다</option>
        <option>1시간 마다</option>
        <option>3시간 마다</option>
        <option>6시간 마다</option>
        <option>12시간 마다</option>
        <option>24시간 마다</option>
      </select>
    </div>
    <div class="col-md-1">
      <button class="btn">저장</button>
    </div>
  </div>
  <ace-editor [(text)]="code.content" mode="javascript" [options]="options"></ace-editor>
  <div class="tester" data-title="Test">



    <div class="tester-chat">
      <ul *ngFor='let chat of chats'>
        <li class="{{ chat.type }}">{{ chat.message }}</li>
      </ul>
    </div>
    <div class="tester-input">
      <div class="col-md-11">
        <input type="text" class="form-control no-border" [(ngModel)]="input" placeholder="유저의 메시지를 입력하세요. 입력시 유저의 메시지가 같이 들어가며, 없으면 스크립트만 실행됩니다.">
      </div>
      <div class="col-md-1">
        <button class="btn" (click)="run()">실행</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3 doc">
    <h4>reply(message)</h4>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>message</td>
        <td>String</td>
      </tr>
      </tbody>
    </table>
    <hr />
    <h4>ctx.set(key, value)</h4>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>key</td>
        <td>String</td>
      </tr>
      <tr>
        <td>value</td>
        <td>String</td>
      </tr>
      </tbody>
    </table>
    <hr />
    <h4>ctx.get(key)</h4>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>key</td>
        <td>String</td>
      </tr>
      </tbody>
    </table>
    <hr />
    <h4>ctx.delete(key)</h4>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>key</td>
        <td>String</td>
      </tr>
      </tbody>
    </table>
</div>