/*.aceEditorDirective {*/
/*margin-top: 50px;*/
/*height: 100%;*/
/*width: 100%;*/
/*overflow: auto;*/
/*}*/

/*.container {*/
/*display: -webkit-flex;*/
/*display: flex;*/
/*-webkit-flex-flow: row wrap;*/
/*flex-flow: row wrap;*/
/*height: 100%;*/
/*}*/

/*.left {*/
/*width: 100%;*/
/*}*/

/*.right {*/
/*display: none;*/
/*}*/

/*.right {*/
/*background-color: #eee;*/
/*}*/

/*@media (min-width: 640px) {*/
/*.left {*/
/*width: 70%;*/
/*-webkit-order: 1;*/
/*order: 1;*/
/*}*/

/*.right {*/
/*display: block;*/
/*width: 30%;*/
/*-webkit-order: 2;*/
/*order: 2;*/
/*}*/
/*}*/


.write-button{
  float: right;
}

.editor{
  /*padding: 10px;*/
  height: 100%;
}

ace-editor{
  background: none;
}
