<div class="tester" data-title="Test">
  <div class="tester-chat">
    <ul>
      <li class="me">Hi</li>
      <li class="me">How are you?</li>
      <li class="him">Do you know Kimchi?</li>
      <li class="him">Do you know Kimchi?</li>
      <li class="me">Bye</li>
      <li class="me">Hi</li>
      <li class="me">How are you?</li>
      <li class="him">Do you know Kimchi?</li>
      <li class="him">Do you know Kimchi?</li>
      <li class="me">Bye</li>
      <li class="me">Hi</li>
      <li class="me">How are you?</li>
      <li class="him">Do you know Kimchi?</li>
      <li class="him">Do you know Kimchi?</li>
      <li class="me">Bye</li>
    </ul>
  </div>
  <div class="tester-input">
    <div class="col-md-11">
      <input type="text" class="form-control no-border" placeholder="유저의 메시지를 입력하세요. 입력시 유저의 메시지가 같이 들어가며, 없으면 스크립트만 실행됩니다.">
    </div>
    <div class="col-md-1">
      <button class="btn">실행</button>
    </div>
  </div>
</div>
